<!doctype html>
<html>
  <head>
    <title><%= person.firstname%> <%= person.lastname%></title>
       <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1><%= person.firstname%> <%= person.lastname%></h1>
      <ul>
        <li><b>First Name:</b> <%= person.firstname%></li>
        <li><b>Last Name:</b> <%= person.lastname%></li>
        <li><b>User ID:</b> #<%= person.id%></li>
      </ul>
      <a href="/people/<%= person.id%>/edit" class="nav-button">Edit &raquo;</a>
      <br>

    <form method="post" action="/people/<%= person.id%>?_method=delete">
         <button class="nav-button remove">Remove &raquo;</button>
      </form>


      <br>
      <a href="/people">Go back &raquo;</a>

    </div>
  </body>
</html>