<!doctype html>
<html>
  <head>
    <title><%= person.firstname%> <%= person.lastname%></title>
       <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="/css/styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container container-fluid">

      <div class="row header">
        <div class="col-xs-12">
          <h1><%= person.firstname%> <%= person.lastname%></h1> <a href="/people">Back to index &raquo;</a>
        </div>
      </div>


      
      <ul>
        <li><b>First Name:</b> <%= person.firstname%></li>
        <li><b>Last Name:</b> <%= person.lastname%></li>
        <li><b>Twitter:</b> <a href="http://www.twitter.com/<%= person.twitter%>"><%= person.twitter%></a></li>
      </ul>

      <a href="/people/<%= person.id%>/edit" class="nav-button">Edit <span class="glyphicon glyphicon-pencil"></span></a>

      <br>

      <form method="post" action="/people/<%= person.id%>?_method=delete">
         <button class="nav-button remove">Remove <span class="glyphicon glyphicon-trash"></span></button>
      </form>


    </div>
  </body>
</html>